<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.etern.alfred-cidict</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>284F6AAD-8FE7-44A6-AAE4-62A0F8BEE779</key>
		<array/>
		<key>55A869C7-2D84-4A03-9D13-8B74DB701487</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FE8475E-6310-49A4-967E-D6CCE73A86AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FE8475E-6310-49A4-967E-D6CCE73A86AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D07FF808-5F5C-495E-8A11-A2205BD467D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B0F6A32-751F-4071-A1E8-76A2E9486962</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>284F6AAD-8FE7-44A6-AAE4-62A0F8BEE779</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>bing</string>
	<key>description</key>
	<string>CiDict Dictionary</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ci Dict</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

open dict://$query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB6D43F9-5924-4D70-93A2-875179AC2E76</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://youdao.com/result?word={query}&amp;lang=en</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D07FF808-5F5C-495E-8A11-A2205BD467D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Ci Dict</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>55A869C7-2D84-4A03-9D13-8B74DB701487</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:trigger_word}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching</string>
				<key>script</key>
				<string>python3 dict.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Lookup words with preview</string>
				<key>title</key>
				<string>CiDict</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8FE8475E-6310-49A4-967E-D6CCE73A86AC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="$1"

echo "$query"

echo -n "$query" | say $1 -v Samantha</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B0F6A32-751F-4071-A1E8-76A2E9486962</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd $TMPDIR
query="$1"
voice="youdao-${query}.mp3"

echo say: "$voice" &gt;&amp;2

if [[ ! -e ${voice} ]]; then
  curl -SL#o "$voice" -# -d "audio=${query}" -d "type=1" "https://dict.youdao.com/dictvoice"
fi

afplay "$voice"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>284F6AAD-8FE7-44A6-AAE4-62A0F8BEE779</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Ci Dict Dictionary

- “牛津英汉汉英词典”本地词典展示优化
- 按Shift预览有道词典页面
- 按Enter打开有道词典页面
- 按Cmd/Alt-Enter单词发音</string>
	<key>uidata</key>
	<dict>
		<key>284F6AAD-8FE7-44A6-AAE4-62A0F8BEE779</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>在线发音</string>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>55A869C7-2D84-4A03-9D13-8B74DB701487</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>6B0F6A32-751F-4071-A1E8-76A2E9486962</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>本地发音</string>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>8FE8475E-6310-49A4-967E-D6CCE73A86AC</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>BB6D43F9-5924-4D70-93A2-875179AC2E76</key>
		<dict>
			<key>note</key>
			<string>打开本地词典</string>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>D07FF808-5F5C-495E-8A11-A2205BD467D9</key>
		<dict>
			<key>note</key>
			<string>打开有道词典网页</string>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trigger_word</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>max_suggestions</key>
		<string>0</string>
	</dict>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>github.com/etern/alfred-cidict</string>
</dict>
</plist>
